* {
  margin: 0;
}

.backgroundColor {
  /* width: 100%;
  height: 100%; */
  min-height: 100vh;
  background-color: #fef7ea;
}
.contentWrapper {
  width: 90%;
  margin: auto;
  position: relative;
  top: 20px;
  /* background-color: yellow; */
}
hr {
  margin: 5px 0;
}
.abc {
  width: 100%;
}

.quizWrapper {
  /* background-color: yellow; */
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}
.quizWrapper img {
  width: 150px;
}

.syllable {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid #a8a9ad;
  position: relative;
}
.syllable::before {
  content: "";
  position: absolute;
  background-color: transparent;
  border-left: 1px dashed black;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.syllable::after {
  content: "";
  position: absolute;
  background-color: transparent;
  border-top: 1px dashed black;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.syllable img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.dragItemsWrapper {
  width: 100%;
  background-color: antiquewhite;
}
.dragItemsWrapper img {
  width: 100px;
  border: 1px solid black;
  margin-right: 10px;
}
